:root {
    --background-color: #0a192c;
    --container-color: #172f48;
    --secondary-color: #34495e;
    --text-color: #F3F4F6;
    --accent-color-hover: #3a5674;
    --title-color:  #e49a3f;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-y: auto;
}

.app-container {
    background-color: var(--container-color);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--title-color);
}

/* Buscador ciudad */
.search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-section input {
    padding: 15px;
    padding-right: 32px;
    border-radius: 5px;
    border: none;
    width: 70%;
    background-color: var(--text-color);
    color: var(--background-color);
}

.search-section button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--title-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-section button:hover {
    background-color: var(--accent-color-hover);
}

/* Clima actual y pronóstico */
.weather-display {
    margin: 20px;
    text-align: center;
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 20px;
}

.current-weather {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.forecast-item {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}

/* Conversor de temperatura */
.temperature-converter {
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;
}

.temperature-converter input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.temperature-converter button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--title-color);
    color: var(--text-color);
}
.temperature-converter button:hover {
    background-color: var(--accent-color-hover);
    cursor: pointer;
}

/* Historial */
.history-section {
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;
}

.history-section button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--title-color);
    color: white;
    cursor: pointer;
}

.history-section button:hover {
    background-color: var(--accent-color-hover);
}

.weather-display img {
    filter: drop-shadow(0 0 4px rgb(223, 223, 218));
  }
  
  .forecast-item img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
    object-fit: contain;
  }

@media (max-width: 1024px) {
    .app-container {
        max-width: 90%;
    }

    .forecast-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .app-container {
        padding: 15px;
    }

    .search-section input {
        width: 60%;
    }

    .forecast-container {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .app-container {
        padding: 10px;
    }

    .search-section input {
        width: 55%;
    }

    .forecast-item {
        padding: 8px;
    }

    h1 {
        font-size: 1.5rem;
    }
}
